<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ecosistema Emprendedor</title>

    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Template/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/Template/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Template/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/Template/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Template/css/pogoslider.css" rel="stylesheet" />
    <link href="~/Content/Template/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Content/Template/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Template/css/transitions.css" rel="stylesheet" />
    <link href="~/Content/Template/css/main.css" rel="stylesheet" />
    <link href="~/Content/Template/css/color.css" rel="stylesheet" />
    <link href="~/Content/Template/css/responsive.css" rel="stylesheet" />
    <script src="~/Content/Template/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.js"></script>        
</head>
<body class="tg-home tg-homefive">
    <div id="tg-wrapper" class="tg-wrapper tg-haslayout">               
        <!--************************************
                Header V2 Start
        *************************************-->
        <header id="tg-header" class="tg-header tg-headerversionthree tg-haslayout">      
            <div class="tg-topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong class="tg-logo"><a href="@Url.Action("Index", "Home")"><img src="~/Content/Template/images/logo.png" alt="Sistema Emprendedor"></a></strong>
                        </div>
                    </div>
                </div>
            </div>                 
            <div class="tg-navigationarea" style="background-color:#ffffff">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">                                                        
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button id="buttonCollapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Panel Navegación</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                    <ul>
                                        @*<li><a href="@Url.Action("Index", "Home")" style="color:#4183c4">Inicio</a></li>*@                                                                                                                        
                                        <li><a href="/Catalogo/Organizaciones" style="color:#4183c4">Organizaciones</a></li>                                        
                                        <li><a href="/Catalogo/Cursos" style="color:#4183c4">Cursos</a></li>                                        
                                        <li style="color:#4183c4" class="menu-item-has-children">
                                            <a style="color:#4183c4" href="javascript:void(0);">Infografías de las Oficinas Regionales</a>
                                            <ul class="sub-menu">
                                                <li><a href="/Catalogo/MapaVocaciones">Mapa Vocaciones</a></li>
                                                <li><a href="/Catalogo/Infografia?region=2">Región II. Tulancingo</a></li>
                                                <li><a href="/Catalogo/Infografia?region=3">Región III. Tula - Tepeji</a></li>
                                                <li><a href="/Catalogo/Infografia?region=4">Región IV. Huichapan</a></li>
                                                <li><a href="/Catalogo/Infografia?region=5">Región V. Zimapán</a></li>
                                                <li><a href="/Catalogo/Infografia?region=6">Región VI. Ixmiquilpan</a></li>
                                                <li><a href="/Catalogo/Infografia?region=7">Región VII. Mixquiahuala</a></li>
                                                <li><a href="/Catalogo/Infografia?region=8">Región VIII. Metztitlán</a></li>
                                                <li><a href="/Catalogo/Infografia?region=9">Región IX. Molango</a></li>
                                                <li><a href="/Catalogo/Infografia?region=10">Región X. Huejutla</a></li>
                                                <li><a href="/Catalogo/Infografia?region=11">Región XI. Apan</a></li>
                                                <li><a href="/Catalogo/Infografia?region=12">Región XII. Tizayuca</a></li>
                                                <li><a href="/Catalogo/Infografia?region=13">Región XIII. Otomí Tepehua</a></li>                                                                                                
                                                <li><a href="/Catalogo/Infografia?region=16">Región XVI. Jacala</a></li>
                                                <li><a href="/Catalogo/Infografia?region=17">Región XVII. Zacualtipán</a></li>                                                
                                            </ul>
                                        </li>
                                        <li><a style="color:#4183c4" href="/Catalogo/Regiones">Ecosistemas Regionales</a></li>
                                        <li><a href="@Url.Action("Categorias", "Articulos")" style="color:#4183c4">Articulos de Interés</a></li>                                                                                                                    
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li class="menu-item-has-mega-menu menu-item-has-children">
                                            <a style="color:#4183c4" href="javascript:void(0);">Admin</a>
                                            <div class="mega-menu">
                                                <ul class="mega-menu-row">
                                                    <li class="mega-menu-col">
                                                        <a href="javascript:void(0);">Usuarios</a>
                                                        <ul>
                                                            <li>@Html.ActionLink("Agregar usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                                            <li><a href="@Url.Action("Usuarios", "Manage")">Lista de usuarios</a></li>
                                                            <li><a href="/Account/LogOff">Cerrar Sesión</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-col">
                                                        <a href="javascript:void(0);">Base de datos</a>
                                                        <ul>
                                                            <li><a href="@Url.Action("AdministrarOrganizaciones", "Manage")">Organizaciones</a></li>
                                                            <li><a href="@Url.Action("AdministrarArticulos", "Manage")">Articulos</a></li>                                                            
                                                            @*<li><a href="@Url.Action("AdministrarEmprendedores", "Manage")">Emprendedores</a></li>*@
                                                        </ul>
                                                    </li>
                                                </ul>                                                
                                            </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a style="color:#4183c4" href="/Account/Login">Acceso</a></li>
                                        }                                        
                                    </ul>
                                </div>
                            </nav>                          
                        </div>
                    </div>
                </div>
            </div>              
        </header>
        <!--************************************
            Header V2 End
    *************************************-->

            <main id="tg-main" class="tg-main">
                @RenderBody()
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button style="display:none" type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Selecciona tu Región</h4>
                            </div>
                            <div class="modal-body">
                                <div align="center">
                                    <div style="position: relative; padding-bottom: 77.11%; padding-top: 0; height: 0;">
                                        <iframe frameborder="0" width="1573" height="1213" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/5ae38f7a7570e525eb0188ee" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                                    </div>                                 
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div align="center">
                                    <button id="CloseModal" style="display:none" type="button" class="btn btn-default" data-dismiss="modal">Enviar y cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <hr />
        <!--************************************
            Footer Start
    *************************************-->
        <footer id="tg-footer" class="tg-footer tg-haslayout">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-infobox">                            
                            <div class="tg-aboutus">
                                <h3>Tu opinión es muy importante.</h3>
                                <div class="tg-description">
                                    <p>Te invitamos a emprende@hidalgo.gob.mx o bien, visitarnos directamente en nuestras oficinas, ubicadas en Blvd. Felipe Ángeles No. 605, Col Presa Jales Norte, Pachuca de Soto, Hidalgo, México. C.P. 42080</p>
                                    <p>Tels: (771) 715 9959, 715 9960 y 715 9961. Ext 501</p>
                                    <p><a href="https://www.ihce.gob.mx" target="_blank">www.ihce.gob.mx</a></p>
                                </div>
                                <ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="https://www.facebook.com/ihcehidalgo/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="https://twitter.com/ihcehidalgo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li class="tg-youtube"><a href="jhttps://www.youtube.com/user/ihcegob" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                    <li class="tg-whatsapp"><a href="https://www.periscope.tv/IHCEHidalgo/1ZkKzWLyRwwGv" target="_blank"><i class="fa fa-map-marker"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="tg-footerbar">
                <div class="container">
                    <nav class="tg-addnav">
                        <ul>
                            <li><a href="#">Politica de Privacidad</a></li>                          
                            <li><a href="/Home/Contact">Contacto</a></li>
                        </ul>
                    </nav>
                    <p class="tg-coptrights">Instituto Hidalguense de Competitividad Empresarial - Todos los Derechos Reservados © 2018</p>
                </div>
            </div>
        </footer>
        <!--************************************
            Footer End
    *************************************-->
        
        


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            @**************************************-->*@
            <script src="~/Content/Template/js/vendor/jquery-library.js"></script>
            <script src="~/Content/Template/js/vendor/bootstrap.min.js"></script>
            <script src="~/Content/Template/js/jquery.flip.min.js"></script>
            <script src="~/Content/Template/js/jquery.vide.min.js"></script>
            <script src="~/Content/Template/js/owl.carousel.min.js"></script>
            <script src="~/Content/Template/js/isotope.pkgd.js"></script>
            <script src="~/Content/Template/js/prettyPhoto.js"></script>
            <script src="~/Content/Template/js/pogoslider.js"></script>
            <script src="~/Content/Template/js/countdown.js"></script>
            <script src="~/Content/Template/js/jquery-ui.js"></script>
            <script src="~/Content/Template/js/kinetic.js"></script>
            <script src="~/Content/Template/js/countTo.js"></script>
            <script src="~/Content/Template/js/appear.js"></script>
            @*<script src="~/Content/Template/js/gmap3.js"></script>*@
            <script src="~/Content/Template/js/main.js"></script>
            @*Data tables*@
            <script src="~/Content/DataTables/datatables.min.js"></script>
            <script src="~/Content/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
            <script src="~/Content/DataTables/Buttons-1.4.2/js/buttons.flash.min.js"></script>    
            <script src="~/Content/DataTables/Buttons-1.4.2/js/jszip.min.js"></script>
            <script src="~/Content/DataTables/Buttons-1.4.2/js/pdfmake.min.js"></script>
            <script src="~/Content/DataTables/Buttons-1.4.2/js/vfs_fonts.js"></script>
            <script src="~/Content/DataTables/Buttons-1.4.2/js/buttons.html5.min.js"></script>                      
        <script>            
            $("#buttonCollapse").click(function () {
                var className = $('#tg-navigation').attr('class');
                //alert(className);
                if (className == 'navbar-collapse tg-navigation collapse in') {
                    //alert('entra');
                    $('#tg-navigation').removeClass();
                    className = $('#tg-navigation').attr('class');
                    //alert(className);
                    $('#tg-navigation').addClass('navbar-collapse tg-navigation collapse');
                    className = $('#tg-navigation').attr('class');
                    //alert(className);
                }
                if (className == 'navbar-collapse tg-navigation in collapse') {
                   // alert('entra');
                    $('#tg-navigation').removeClass();
                    className = $('#tg-navigation').attr('class');
                   // alert(className);
                    $('#tg-navigation').addClass('navbar-collapse tg-navigation collapse');
                    className = $('#tg-navigation').attr('class');
                  //  alert(className);
                }
            }
        );
        </script>
</div>
</body>
</html>
