@using Sistemaemprendedor.Models
@model EditarEventoForm
@{
    ViewBag.Title = "Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Sistemaemprendedor.Models.ActionResponses ActionResponses = ViewBag.ActionResponses;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Eventos", "Catalogo")">Eventos</a></li>
                <li class="tg-active">Nuevo</li>
            </ol>

        </div>
    </div>
</div>
<div class="tg-haslayout">
    <div class="tg-sectionhead">
        <div class="tg-sectiontitles">
            <h2>Editar Evento</h2>
            <h3>Revisa los campos</h3>
        </div>
        <div class="tg-description">
            <p></p>
        </div>
    </div>
    <div class="container">
        @if (ActionResponses != null && ActionResponses.Type == Sistemaemprendedor.Models.ResponseType.SUCCESS)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="alert alert-success tg-alertmessage fade in">
                        <i class="fa fa-check"></i>
                        <span>@ActionResponses.Messages</span>
                    </div>
                    <div class="" style="text-align:center">
                        <a href="/Catalogo/Eventos" class="btn btn-primary"><i class="icon-ok-circle icon-white"></i>Aceptar</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    @if (ActionResponses != null && ActionResponses.Type == Sistemaemprendedor.Models.ResponseType.ERROR)
                {
                        <div class="alert alert-danger tg-alertmessage fade in">
                            <i class="fa fa-exclamation-circle"></i>
                            <span>@ActionResponses.Messages</span>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm("Evento", "Nuevo", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <section id="newEventForm">
                        <div id="tg-twocolumns" class="tg-twocolumns">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Nombre)
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Descripcion)
                                    @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.tipoEvento)
                                    @Html.DropDownListFor(m => m.tipoEvento, new List<SelectListItem> {
                        new SelectListItem{Value="", Text = "Selecciona una opción"},
                        new SelectListItem{Value="1", Text = "Consultoría"},
                        new SelectListItem{Value="2", Text = "Taller"},
                        new SelectListItem{Value="3", Text = "Encuentro (meet up)"},
                        new SelectListItem{Value="4", Text = "Charla de inspiración"},
                        new SelectListItem{Value="5", Text = "Acompañamiento"},
                        new SelectListItem{Value="6", Text = "Conferencia"},
                        new SelectListItem{Value="7", Text = "Campamento emprendedor"},
                        new SelectListItem{Value="8", Text = "Mentoría"},
                        new SelectListItem{Value="9", Text = "Otro"}
                    }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.tipoEvento, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Estado)
                                    @Html.DropDownListFor(m => m.Estado, new List<SelectListItem> {
                        new SelectListItem{Value="Hidalgo", Text = "Hidalgo"}
                    }, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(m => m.Estado, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Municipio)
                                    @Html.DropDownListFor(m => m.Municipio, new List<SelectListItem> {
                        new SelectListItem{Value="Selecciona una ciudad", Text = "Selecciona una ciudad"},
                        new SelectListItem{Value="Acatlan ", Text = "Acatlan"},
                        new SelectListItem{Value="Acaxochitlan ", Text = "Acaxochitlan"},
                        new SelectListItem{Value="Actopan ", Text = "Actopan"},
                        new SelectListItem{Value="Agua Blanca de Iturbide ", Text = "Agua Blanca de Iturbide"},
                        new SelectListItem{Value="Ajacuba ", Text = "Ajacuba"},
                        new SelectListItem{Value="Alfajayucan ", Text = "Alfajayucan"},
                        new SelectListItem{Value="Almoloya ", Text = "Almoloya"},
                        new SelectListItem{Value="Apan ", Text = "Apan"},
                        new SelectListItem{Value="El Arenal ", Text = "El Arenal"},
                        new SelectListItem{Value="Atitalaquia ", Text = "Atitalaquia"},
                        new SelectListItem{Value="Atlapexco ", Text = "Atlapexco"},
                        new SelectListItem{Value="Atotonilco el Grande ", Text = "Atotonilco el Grande"},
                        new SelectListItem{Value="Atotonilco de Tula ", Text = "Atotonilco de Tula"},
                        new SelectListItem{Value="Calnali ", Text = "Calnali"},
                        new SelectListItem{Value="Cardonal ", Text = "Cardonal"},
                        new SelectListItem{Value="Cuautepec de Hinojosa ", Text = "Cuautepec de Hinojosa"},
                        new SelectListItem{Value="Chapantongo ", Text = "Chapantongo"},
                        new SelectListItem{Value="Chapulhuacan ", Text = "Chapulhuacan"},
                        new SelectListItem{Value="Chilcuautla ", Text = "Chilcuautla"},
                        new SelectListItem{Value="Eloxochitlan ", Text = "Eloxochitlan"},
                        new SelectListItem{Value="Emiliano Zapata ", Text = "Emiliano Zapata"},
                        new SelectListItem{Value="Epazoyucan ", Text = "Epazoyucan"},
                        new SelectListItem{Value="Francisco I. Madero ", Text = "Francisco I. Madero"},
                        new SelectListItem{Value="Huasca de Ocampo ", Text = "Huasca de Ocampo"},
                        new SelectListItem{Value="Huautla ", Text = "Huautla"},
                        new SelectListItem{Value="Huazalingo ", Text = "Huazalingo"},
                        new SelectListItem{Value="Huehuetla ", Text = "Huehuetla"},
                        new SelectListItem{Value="Huejutla de Reyes ", Text = "Huejutla de Reyes"},
                        new SelectListItem{Value="Huichapan ", Text = "Huichapan"},
                        new SelectListItem{Value="Ixmiquilpan ", Text = "Ixmiquilpan"},
                        new SelectListItem{Value="Jacala de Ledezma ", Text = "Jacala de Ledezma"},
                        new SelectListItem{Value="Jaltocan ", Text = "Jaltocan"},
                        new SelectListItem{Value="Juarez Hidalgo ", Text = "Juarez Hidalgo"},
                        new SelectListItem{Value="Lolotla ", Text = "Lolotla"},
                        new SelectListItem{Value="Metepec ", Text = "Metepec"},
                        new SelectListItem{Value="San Agustin Metzquititlan ", Text = "San Agustin Metzquititlan"},
                        new SelectListItem{Value="Metztitlan ", Text = "Metztitlan"},
                        new SelectListItem{Value="Mineral del Chico ", Text = "Mineral del Chico"},
                        new SelectListItem{Value="Mineral del Monte ", Text = "Mineral del Monte"},
                        new SelectListItem{Value="La Mision ", Text = "La Mision"},
                        new SelectListItem{Value="Mixquiahuala de Juarez ", Text = "Mixquiahuala de Juarez"},
                        new SelectListItem{Value="Molango de Escamilla ", Text = "Molango de Escamilla"},
                        new SelectListItem{Value="Nicolas Flores ", Text = "Nicolas Flores"},
                        new SelectListItem{Value="Nopala de Villagran ", Text = "Nopala de Villagran"},
                        new SelectListItem{Value="Omitlan de Juarez ", Text = "Omitlan de Juarez"},
                        new SelectListItem{Value="San Felipe Orizatlan ", Text = "San Felipe Orizatlan"},
                        new SelectListItem{Value="Pacula ", Text = "Pacula"},
                        new SelectListItem{Value="Pachuca de Soto ", Text = "Pachuca de Soto"},
                        new SelectListItem{Value="Pisaflores ", Text = "Pisaflores"},
                        new SelectListItem{Value="Progreso de Obregon ", Text = "Progreso de Obregon"},
                        new SelectListItem{Value="Mineral de la Reforma ", Text = "Mineral de la Reforma"},
                        new SelectListItem{Value="San Agustin Tlaxiaca ", Text = "San Agustin Tlaxiaca"},
                        new SelectListItem{Value="San Bartolo Tutotepec ", Text = "San Bartolo Tutotepec"},
                        new SelectListItem{Value="San Salvador ", Text = "San Salvador"},
                        new SelectListItem{Value="Santiago de Anaya ", Text = "Santiago de Anaya"},
                        new SelectListItem{Value="Santiago Tulantepec de Lugo Guerrero ", Text = "Santiago Tulantepec de Lugo Guerrero"},
                        new SelectListItem{Value="Singuilucan ", Text = "Singuilucan"},
                        new SelectListItem{Value="Tasquillo ", Text = "Tasquillo"},
                        new SelectListItem{Value="Tecozautla ", Text = "Tecozautla"},
                        new SelectListItem{Value="Tenango de Doria ", Text = "Tenango de Doria"},
                        new SelectListItem{Value="Tepeapulco ", Text = "Tepeapulco"},
                        new SelectListItem{Value="Tepehuacan de Guerrero ", Text = "Tepehuacan de Guerrero"},
                        new SelectListItem{Value="Tepeji del Rio de Ocampo ", Text = "Tepeji del Rio de Ocampo"},
                        new SelectListItem{Value="Tepetitlan ", Text = "Tepetitlan"},
                        new SelectListItem{Value="Tetepango ", Text = "Tetepango"},
                        new SelectListItem{Value="Villa de Tezontepec ", Text = "Villa de Tezontepec"},
                        new SelectListItem{Value="Tezontepec de Aldama ", Text = "Tezontepec de Aldama"},
                        new SelectListItem{Value="Tianguistengo ", Text = "Tianguistengo"},
                        new SelectListItem{Value="Tizayuca ", Text = "Tizayuca"},
                        new SelectListItem{Value="Tlahuelilpan ", Text = "Tlahuelilpan"},
                        new SelectListItem{Value="Tlahuiltepa ", Text = "Tlahuiltepa"},
                        new SelectListItem{Value="Tlanalapa ", Text = "Tlanalapa"},
                        new SelectListItem{Value="Tlanchinol ", Text = "Tlanchinol"},
                        new SelectListItem{Value="Tlaxcoapan ", Text = "Tlaxcoapan"},
                        new SelectListItem{Value="Tolcayuca ", Text = "Tolcayuca"},
                        new SelectListItem{Value="Tula de Allende ", Text = "Tula de Allende"},
                        new SelectListItem{Value="Tulancingo de Bravo ", Text = "Tulancingo de Bravo"},
                        new SelectListItem{Value="Xochiatipan ", Text = "Xochiatipan"},
                        new SelectListItem{Value="Xochicoatlan ", Text = "Xochicoatlan"},
                        new SelectListItem{Value="Yahualica ", Text = "Yahualica"},
                        new SelectListItem{Value="Zacualtipan de Angeles ", Text = "Zacualtipan de Angeles"},
                        new SelectListItem{Value="Zapotlan de Juarez ", Text = "Zapotlan de Juarez"},
                        new SelectListItem{Value="Zempoala ", Text = "Zempoala"},
                        new SelectListItem{Value="Zimapan ", Text = "Zimapan"}
                    }, new { @id = "Muni", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Municipio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CodigoPostal)
                                    @Html.TextBoxFor(m => m.CodigoPostal, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CodigoPostal, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Calle)
                                    @Html.TextBoxFor(m => m.Calle, new { @id = "Calle", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Calle, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NumExt)
                                    @Html.TextBoxFor(m => m.NumExt, new { @id = "NumExt", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NumExt, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FechaEvento)
                                    @Html.TextBoxFor(m => m.FechaEvento, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FechaEvento, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.HoraInicio)
                                    @Html.DropDownListFor(m => m.HoraInicio, new List<SelectListItem> {
                                        new SelectListItem{Value="", Text = "Selecciona una hora"},
                                        new SelectListItem{Value="0:00", Text = "12:00 AM"},
                                        new SelectListItem{Value="0:30", Text = "12:30 AM"},
                                        new SelectListItem{Value="1:00", Text = "01:00 AM"},
                                        new SelectListItem{Value="1:30", Text = "01:30 AM"},
                                        new SelectListItem{Value="2:00", Text = "02:00 AM"},
                                        new SelectListItem{Value="2:30", Text = "02:30 AM"},
                                        new SelectListItem{Value="3:00", Text = "03:00 AM"},
                                        new SelectListItem{Value="3:30", Text = "03:30 AM"},
                                        new SelectListItem{Value="4:00", Text = "04:00 AM"},
                                        new SelectListItem{Value="4:30", Text = "04:30 AM"},
                                        new SelectListItem{Value="5:00", Text = "05:00 AM"},
                                        new SelectListItem{Value="5:30", Text = "05:30 AM"},
                                        new SelectListItem{Value="6:00", Text = "06:00 AM"},
                                        new SelectListItem{Value="6:30", Text = "06:30 AM"},
                                        new SelectListItem{Value="7:00", Text = "07:00 AM"},
                                        new SelectListItem{Value="7:30", Text = "07:30 AM"},
                                        new SelectListItem{Value="8:00", Text = "08:00 AM"},
                                        new SelectListItem{Value="8:30", Text = "08:30 AM"},
                                        new SelectListItem{Value="9:00", Text = "09:00 AM"},
                                        new SelectListItem{Value="9:30", Text = "09:30 AM"},
                                        new SelectListItem{Value="10:00", Text = "10:00 AM"},
                                        new SelectListItem{Value="10:30", Text = "10:30 AM"},
                                        new SelectListItem{Value="11:00", Text = "11:00 AM"},
                                        new SelectListItem{Value="11:30", Text = "11:30 AM"},
                                        new SelectListItem{Value="12:00", Text = "12:00 PM"},
                                        new SelectListItem{Value="12:30", Text = "12:30 PM"},
                                        new SelectListItem{Value="13:00", Text = "01:00 PM"},
                                        new SelectListItem{Value="13:30", Text = "01:30 PM"},
                                        new SelectListItem{Value="14:00", Text = "02:00 PM"},
                                        new SelectListItem{Value="14:30", Text = "02:30 PM"},
                                        new SelectListItem{Value="15:00", Text = "03:00 PM"},
                                        new SelectListItem{Value="15:30", Text = "03:30 PM"},
                                        new SelectListItem{Value="16:00", Text = "04:00 PM"},
                                        new SelectListItem{Value="16:30", Text = "04:30 PM"},
                                        new SelectListItem{Value="17:00", Text = "05:00 PM"},
                                        new SelectListItem{Value="17:30", Text = "05:30 PM"},
                                        new SelectListItem{Value="18:00", Text = "06:00 PM"},
                                        new SelectListItem{Value="18:30", Text = "06:30 PM"},
                                        new SelectListItem{Value="19:00", Text = "07:00 PM"},
                                        new SelectListItem{Value="19:30", Text = "07:30 PM"},
                                        new SelectListItem{Value="20:00", Text = "08:00 PM"},
                                        new SelectListItem{Value="20:30", Text = "08:30 PM"},
                                        new SelectListItem{Value="21:00", Text = "09:00 AM"},
                                        new SelectListItem{Value="21:30", Text = "09:30 PM"},
                                        new SelectListItem{Value="22:00", Text = "10:00 AM"},
                                        new SelectListItem{Value="22:30", Text = "10:30 PM"},
                                        new SelectListItem{Value="23:00", Text = "11:00 AM"},
                                        new SelectListItem{Value="23:30", Text = "11:30 PM"}
                                    }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.HoraInicio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Organizador)
                                    @Html.TextBoxFor(m => m.Organizador, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Organizador, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Telefono)
                                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Website)
                                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="file">Imágen del evento:</label>
                                    <br />
                                    <input type="file" name="file" id="file" style="width: 100%;" />
                                    <br />
                                    @ViewBag.Message
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align:center">
                            <a href="javascript:void(0);" id="buttonComp" class="btn btn-primary">Comprobar Dirección en Mapa</a>
                        </div>
                        <div id="map" class="tg-Minisectionspace tg-locationmap" style="margin-bottom:15px">

                        </div>
                        <div class="form-group" style="text-align:center">
                            <input type="submit" value="Enviar" class="btn btn-success" />
                            <a href="/Catalogo/Eventos" class="btn btn-danger">&nbsp;Cancelar</a>
                        </div>
                    </section>
                }
            </div>

        }

    </div>
</div>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&language=es"></script>
<script src="~/Content/Map/gmaps.js"></script>
@section Scripts
{
    <script>
    //$('#FechaEvento').datepicker();
    $(function () {
        $('#FechaEvento').datepicker({
            todayHighlight: 'TRUE',
            autoclose: true
        });
    });
    //map
    var map = new GMaps({
        div: '#map',
        lat: -12.043333,
        lng: -77.028333,
        zoom: 18
    });
    var address;
    var address2 = $('#Calle').val().toString() + ' ' + $('#NumExt').val().toString() + ', ' + $('#Muni').val().toString();
    var callback;
    var status;
    var results;

    $("#buttonComp").click(function CompDir() {
        //geolocade
        GMaps.geocode({
            address: $('#Calle').val().toString() + ' ' + $('#NumExt').val().toString() + ', ' + $('#Muni').val().toString(),
            callback: function (results, status) {
                if (status == 'OK') {
                    var latlng = results[0].geometry.location;
                    map.setCenter(latlng.lat(), latlng.lng());
                    map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng(),
                        infoWindow: {
                            content: $('#Calle').val().toString() + ' ' + $('#NumExt').val().toString() + ', ' + $('#Muni').val().toString(),
                        },
                        mouseover: function () {
                            (this.infoWindow).open(this.map, this);
                        },
                        mouseout: function () {
                            this.infoWindow.close();
                        }
                    });
                }
            }
        });
    });
    </script>
}    