@model  Sistemaemprendedor.Models.CatalogoModelo
@{
    ViewBag.Title = "Organizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Organizaciones</li>
            </ol>
        </div>
    </div>
</div>

<!--************************************
                    Grid Start
*************************************-->
<div class="tg-Minisectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitles">
                        <h2>Lista de organizaciones</h2>
                        <h3>Ecosistema emprendedor</h3>
                    </div>     
                    <div class="tg-description">
                        <p>Puedes utilizar los filtros disponibles para obtener resultados más precisos</p>
                    </div>               
                </div>
            </div>
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-btnarea">
                            <a class="tg-btn" href="@Url.Action("Organizacion", "Nuevo")">Agregar Organización</a>
                        </div>                                                                                                                                               
                        <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
                                <div class="tg-panel">
                                    <h4><span><b><i>Todos</i></b></span></h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <ul>
                                                <li style="list-style-type:none"><input id="all" onclick="SelectAll();" type="checkbox"> Todos</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span><b><i>Regiones</i></b></span></h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <ul>
                                                @foreach (var Region in Model.ListaDeRegiones)
                                                {
                                                    <li style="list-style-type:none">
                                                        <input class="regionchk" value="@Region.Id" onclick="SelectRegion();" type="checkbox"> @Region.Nombre
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span><b><i>Categorías</i></b></span></h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <ul>
                                                @foreach (var Categ in Model.ListaDeCategorias)
                                                {
                                                    <li style="list-style-type:none">
                                                        <input class="categchk" value="@Categ" onclick="SelectCat();" type="checkbox"> @Categ
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-panel">
                                    <h4><span><b><i>¿Validada por el INADEM?</i></b></span></h4>
                                    <div class="tg-panelcontent">
                                        <div class="tg-description">
                                            <ul>
                                                @foreach (var valid in Model.ListaDeValidadas)
                                                {
                                                    <li style="list-style-type:none">
                                                        <input class="validchk" value="@valid" onclick="SelectValid();" type="checkbox"> @valid
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>                                
                            </div>                       
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                    <div id="tg-content" class="tg-content tg-Minisectionspace">
                        <div class="tg-cases">
                            <div class="row">
                                <div class="tg-features tg-features mainorg">
                                    @foreach (var organizacion in Model.ListaDeEmpresas)
                                    {
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 organizaciones" style="min-height:340px" region="@organizacion.IdRegion" categ="@organizacion.CategoriaDesc" vali="@organizacion.ReconocidoPorINADEM">
                                            <div class="tg-feature">                                                
                                                <span class="tg-iconbox"><img src="https://sestgpr.blob.core.windows.net/images/@organizacion.Imagen" style="height:50px;" /></span>                                                                                                                                                                                                                                                     
                                                <div class="tg-title"><h3><a title="@organizacion.Nombre" style="color:#003953" href="/Catalogo/Organizacion?id=@organizacion.id">@organizacion.Nombre</a></h3></div>   
                                                <div class="tg-description">
                                                    
                                                </div>                                                 
                                                <a class="tg-btnreadmore" href="/Catalogo/Organizacion?id=@organizacion.id"><i class="icon-arrow-right"></i></a>                                               
                                            </div>
                                        </div>
                                    }
                                </div>                                                             
                            </div>                
                        </div>                                          
                    </div>
                </div>                
            </div>
        </div>            
        </div>
</div>
<!--************************************
        Lista de Organizaciones
*************************************-->

    <!--************************************
                        Sin Resultados
                *************************************-->
    @*<div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="tg-404error">
                <div class="tg-404errorcontet">
                    <h1>404</h1>
                    <div class="tg-404holder">
                        <h2>Lo sentimos!</h2>
                        <h3>No existen organizaciones registradas en este momento</h3>
                    </div>
                </div>
                <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <form class="tg-formtheme tg-form404search">
                        <fieldset>
                            <div class="form-group">
                                <input type="search" name="search" class="form-control" placeholder="Busqueda">
                                <button class="tg-btn" type="submit">Buscar</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="tg-btngoback">
                        <span>ó</span><a href="@Url.Action("Index", "Home")">
                            Ir al inicio.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
            <!--************************************
                    404 Error End
            *************************************-->
<script>
    //Borrar filtros
    function SelectAll(tipoE) {
        els = document.querySelectorAll('.organizaciones');
        var checkBox = document.getElementById("all");
        regs = document.getElementsByClassName('regionchk');
        cats = document.getElementsByClassName('categchk');
        vals = document.getElementsByClassName('validchk');
        //Muestra todas las organizaciones
        if (checkBox.checked == true) {
            for (i = 0; i < els.length; i++) {
                els[i].style.display = 'block';
            }
        } else {
            for (i = 0; i < els.length; i++) {
                els[i].style.display = 'none';
            }
        }
        //Resetea checkbox regiones
        for (j = 0; j < regs.length; j++) {
            regs[j].checked = false;
        }
        //Resetea checkbox categoria
        for (j = 0; j < cats.length; j++) {
            cats[j].checked = false;
        }
        //Resetea checkbox validados
        for (j = 0; j < vals.length; j++) {
            vals[j].checked = false;
        }
    }
    //Filtro por region
    function SelectRegion() {
        //Obtiene variables
        els = document.querySelectorAll('.organizaciones:not([style*="display:none"])');        
        regs = document.getElementsByClassName('regionchk');
        var CatsListVal = GetCatValues();
        var ValsListVal = GetValValues();
        
        //Muestra todas las organizaciones
        for (j = 0; j < regs.length; j++) {
            if (regs[j].checked == true) {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {
                    elatributo = els[i].getAttribute('region'); 
                    categoatrr = els[i].getAttribute('categ');
                    valatrr = els[i].getAttribute('vali');
                    if (elatributo == regionSelect) {
                        if (CatsListVal.length > 0 || ValsListVal.length > 0) {
                            if (CatsListVal.includes(categoatrr) || ValsListVal.includes(valatrr)) {
                                els[i].style.display = 'block';
                            } else {
                                els[i].style.display = 'none';
                            }
                        } else {
                            els[i].style.display = 'block';
                        }                                                                       
                    } 
                }
            } else {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {
                    elatributo = els[i].getAttribute('region');

                    if (elatributo == regionSelect) {
                        els[i].style.display = 'none';                        
                    }
                }
            }
        }
        var checks = $('.regionchk:checkbox:checked');
        if (checks.length == 0 && CatsListVal.length > 0) {
            SelectCat();
        } else if (checks.length == 0 && ValsListVal.length > 0) {
            SelectValid();
        }
        document.getElementById("all").checked = false;       
    }

    //Filtro por categoría
    function SelectCat() {
        //Obtiene variables
        els = document.querySelectorAll('.organizaciones:not([style*="display:none"])');
        regs = document.getElementsByClassName('categchk');
        var CatsListVal = GetRegValues();
        var ValsListVal = GetValValues();

        //Muestra todas las organizaciones
        for (j = 0; j < regs.length; j++) {
            if (regs[j].checked == true) {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {                    
                    elatributo = els[i].getAttribute('categ');
                    categoatrr = els[i].getAttribute('region');
                    valatrr = els[i].getAttribute('vali');
                    if (elatributo == regionSelect) {
                        if (CatsListVal.length > 0 || ValsListVal.length > 0) {
                            if (CatsListVal.includes(categoatrr) || ValsListVal.includes(valatrr)) {
                                els[i].style.display = 'block';
                            } else {
                                els[i].style.display = 'none';
                            }
                        } else {
                            els[i].style.display = 'block';
                        }
                    }
                }
            } else {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {
                    elatributo = els[i].getAttribute('categ');

                    if (elatributo == regionSelect) {
                        els[i].style.display = 'none';
                    }
                }
            }
        }
        var checks = $('.categchk:checkbox:checked');
        if (checks.length == 0 && CatsListVal.length > 0) {
            SelectRegion();
        } else if (checks.length == 0 && ValsListVal.length > 0) {
            SelectValid();
        }
        document.getElementById("all").checked = false;
        console.log(checks.length);
    }
    //Filtro por reconocida inadem
    function SelectValid() {
        //Obtiene variables
        els = document.querySelectorAll('.organizaciones:not([style*="display:none"])');
        regs = document.getElementsByClassName('validchk');
        var CatsListVal = GetRegValues();
        var ValsListVal = GetCatValues();

        //Muestra todas las organizaciones
        for (j = 0; j < regs.length; j++) {
            if (regs[j].checked == true) {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {
                    elatributo = els[i].getAttribute('vali');
                    categoatrr = els[i].getAttribute('region');
                    valatrr = els[i].getAttribute('categ');
                    if (elatributo == regionSelect) {
                        if (CatsListVal.length > 0 || ValsListVal.length > 0) {
                            if (CatsListVal.includes(categoatrr) || ValsListVal.includes(valatrr)) {
                                els[i].style.display = 'block';
                            } else {
                                els[i].style.display = 'none';
                            }
                        } else {
                            els[i].style.display = 'block';
                        }
                    }
                }
            } else {
                regionSelect = regs[j].getAttribute('value');
                for (i = 0; i < els.length; i++) {
                    elatributo = els[i].getAttribute('vali');
                    if (elatributo == regionSelect) {
                        els[i].style.display = 'none';
                    }
                }
            }
        }
        var checks = $('.validchk:checkbox:checked');
        if (checks.length == 0 && CatsListVal.length > 0) {
            SelectRegion();
        } else if (checks.length == 0 && ValsListVal.length > 0) {
            SelectCat();
        }
        document.getElementById("all").checked = false;
    }
    //Obtiene valores de checks activos de region
    function GetRegValues() {      
        var RegChkd = $('.regionchk:checkbox:checked');
        var RegsList=[];      
        //Obtiene las regiones activas
        for (j = 0; j < RegChkd.length; j++) {           
            RegsList.push(RegChkd[j].value);
        }        
        return RegsList;
    }
    //Obtiene valores de checks activos de categoria
    function GetCatValues() {
        var CatChkd = $('.categchk:checkbox:checked');
        var CatsList = [];
        //Obtiene las regiones activas
        for (j = 0; j < CatChkd.length; j++) {
            CatsList.push(CatChkd[j].value);
        }
        return CatsList;
    }
    //Obtiene valores de checks activos de validado por inadem
    function GetValValues() {
        var ValChkd = $('.validchk:checkbox:checked');
        var ValsList = [];
        //Obtiene las regiones activas
        for (j = 0; j < ValChkd.length; j++) {
            ValsList.push(ValChkd[j].value);
        }
        return ValsList;
    }
</script>

