@model  Sistemaemprendedor.Models.CatalogoModelo
@{
    ViewBag.Title = "Organizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Organizaciones", "Catalogo")">Organizaciones</a></li>
                <li class="tg-active">@Model.Empresa.Nombre</li>
            </ol>
        </div>
    </div>
</div>

<!--************************************
                    Grid Start
            *************************************-->
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <aside id="tg-sidebar" class="tg-sidebar">
                        <div class="tg-widget tg-widgetprofile">
                            <figure>                                
                                <img src="https://sestgpr.blob.core.windows.net/images/@Model.Empresa.Imagen" />
                            </figure>
                            <div class="tg-themepostcontent">
                                
                                <div class="tg-themeposttitle">
                                    <h4>Representante</h4>
                                    <span>@Model.Empresa.RepresentanteLegal</span>
                                    <br />
                                    <h4>Enlace</h4>
                                    <span>@Model.Empresa.Enlace</span>
                                    <br />
                                    <h4>Puesto</h4>
                                    <span>@Model.Empresa.CargoEnlace</span>
                                </div>
               
                                <ul class="tg-contactinfo">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>@Model.Empresa.Telefono</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <span><a href="mailto:@Model.Empresa.Correo">@Model.Empresa.Correo</a></span>
                                    </li>
                                    <li>
                                        <i class="fa fa-internet-explorer"></i>
                                        <span>@Model.Empresa.PaginaWeb</span>
                                    </li>
                                    <li>
                                        <span>Sector:</span>
                                        <span>@Model.Empresa.Sector</span>
                                    </li>
                                    <li>
                                        <span>Municipio:</span>
                                        <span>@Model.Empresa.Municipio</span>
                                    </li>
                                </ul>
                                <!--<ul class="tg-socialicons">
                                    <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>                                   
                                </ul>-->
                            </div>
                        </div>                        
                    </aside>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-attorneydetail">
                            <div class="tg-boxtitle">
                                <h3>@Model.Empresa.Nombre</h3>
                            </div>
                            <div class="tg-description">
                                <p>@Model.Empresa.Descripcion</p>
                            </div>                                                                                   
                            <div class="tg-tagsshare">
                                <div class="tg-tags">
                                    <span>Compartir:</span>
                                    <ul class="tg-socialicons">
                                        <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Grid End
*************************************-->
