@using Sistemaemprendedor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="tg-active">Iniciar Sesión</li>
            </ol>
        </div>
    </div>
</div>
<div class="tg-sectionspace tg-haslayout">
    <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitles">
                            <h2>Inicio de sesión</h2>
                            <h3>Use una cuenta local para iniciar sesión.</h3>
                        </div>
                        <div class="tg-description">
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-lg-offset-4">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" value="Iniciar sesión" class="tg-btn" />
                </div>
            </div>                
            }
                    </section>
                </div>          
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
