@model Sistemaemprendedor.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
}

<!--************************************
                Inner Banner Start
        *************************************-->
<div class="tg-innerbanner tg-haslayout">
    <div class="tg-pagetitle tg-bgred">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-pageheading">
                        <figure><img src="~/Content/Images/public/portada-04.png" alt="image description"></figure>
                        <h2 style="text-align:center">E C O S I S T E M A<span>E M P R E N D E D O R</span><span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--************************************
        Inner Banner End
*************************************-->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="tg-breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("Usuarios", "Manage")">Usuarios</a></li>
                <li class="tg-active">Actualizar Contraseña</li>
            </ol>

        </div>
    </div>
</div>

<div class="tg-haslayout tg-Minisectionspace">
    <div class="tg-sectionhead">
        <div class="tg-sectiontitles">
            <h2>@ViewBag.Title</h2>
            <h3>Llene los campos del formulario</h3>
        </div>
        <div class="tg-description">
            <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()            
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="col-md-8 col-lg-offset-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>               
            </div>
            <div class="col-md-8 col-lg-offset-4 tg-Minisectionspace">                
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>                
            </div>
            <div class="col-md-8 col-lg-offset-4 tg-Minisectionspace">                
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>                
            </div>
            <div class="col-md-8 col-lg-offset-4 tg-Minisectionspace">                
                <div class="tg-Minisectionspace">
                   
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" class="btn btn-success" value="Restablecer" />
                        <a href="/Manage/Usuarios" class="btn btn-danger">&nbsp;Cancelar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
